body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: transparent url('../images/template/bg.jpg') no-repeat left top / cover;
	font-family: 'Montserrat', sans-serif;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
[role="region"] {
  opacity: 0;
  position: fixed;
	top: 0;
	z-index: -1;
  width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 100%;
	transition: opacity 1.75s linear 0.25s;
}
h1 {
	margin: 0;
	font-size: 3rem;
	font-weight: 400;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 2s ease;
	text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, 1px 1px 0 #fff;
}
h1 span {
	opacity: 0.66;
}
h1 .title {
	color: rgb(244, 68, 175);
	font-family: 'Great Vibes', serif;
	font-size: 6rem;
	text-transform: capitalize;
	opacity: 0.85;
}
h1 .author {
	font-size: 4rem;
}
[aria-label="contact"] {
	height: calc(100% - 4.5em);
	z-index: 1;
	visibility: hidden;
}
[aria-label="contact"] div {
	max-width: 28em;
	background: rgba(255, 255, 255, 0.75);
	margin: 8em auto 0;
	border-radius: 3px;
	height: calc(100% - 24em);
	min-height: calc(100% - 14em);
	border: 3px solid #fff;
	overflow-y: scroll;
	padding: 1em;
}
[aria-label="contact"] a {
	color: rgb(156, 181, 229);
	text-decoration: none;
}
[aria-label="contact"] a:hover,
[aria-label="contact"] a:focus,
[aria-label="contact"] a:active {
	border-bottom: 1px dashed currentColor;
}
[aria-label="contact"] ul {
	list-style: none outside none;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	padding: 1em 0;
}
[aria-label="contact"] li {
	line-height: 1.75em;
}
h2 {
	font-weight: 400;
}
h2 .title {
	color: rgb(244, 68, 175);
	font-family: 'Great Vibes', serif;
	font-size: 1.55em;
}
.copy {
	color: #aaa;
}
nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgba(255, 255, 255, 0.75);
	padding: 0;
	margin: 0;
	clear: both;
}
[role="menuitem"] {
	display: inline-block;
	padding: 0 1em 0.5em;
	text-decoration: none;
	display: inline-block;
	color: #000;
	height: 3.5em;
	line-height: 3.5em;
	text-transform: uppercase;
	border-top: 0.5em solid transparent;
}
[role="menuitem"]:hover,
[role="menuitem"]:focus {
	border-top-color: rgb(244, 68, 175);
}
[role="menuitem"]:active,
[role="menuitem"].active {
  border-top-color: rgb(156, 181, 229)
}
[role="menuitem"]:last-child {
	float: right;
}
.active {
	opacity: 1;
	visibility: visible;
}

[class^="slide"] {
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	opacity: 0;
	z-index: 1;
}

[class^="slide"] img {
  width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide1 {
  transform-origin: 100% 0;
	animation: zoom 48s infinite -2s linear;

}
.slide2 {
  transform-origin: 0 0;
  animation: zoom 48s infinite 6s linear;

}
.slide3 {
  transform-origin: 100% 100%;
	animation: zoom 48s infinite 14s linear;

}
.slide4 {
  transform-origin: 0 100%;
	 animation: zoom 48s infinite 22s linear;

}
.slide5 {
  transform-origin: 100% 0;
	animation: zoom 48s infinite 30s linear;

}
.slide6 {
  transform-origin: 0 0;
	animation: zoom 48s infinite 38s linear;
}
@keyframes zoom {
  0%, 17%  { z-index: 2; }
	17, 100%  { z-index: 1; }

	0%, 100% { transform: scale(1); }
	17%, 83% { transform: scale(1.2); }

  0%, 100% { opacity: 0; }
  4%, 17% { opacity: 1; }
  34%, 83% { opacity: 0; }
}

@keyframes fade {
	0%, 100% { opacity: 0; }
	4%, 17% { opacity: 1; }
	34%, 83% { opacity: 0; }
}

@media (width <= 38em) {
	[role="menuitem"] {
		font-size: smaller;
		padding: 0 0.5em 0.25em;
	}
	h1 {
		font-size: 2rem;
	}
	h1 .title {
		font-size: 5rem;
	}
	h1 .author {
		font-size: 3rem;
		white-space: nowrap;
	}
	[aria-label="contact"] div {
		width: calc(100% - 8em);
		max-width: 24em;
		margin-top: 3em;
		min-height: calc(100% - 8em)
	}
	[role="menuitem"]:last-child {
		float: none;
	}
}
