#contactform {
  height: 100%;
  iframe {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 736px), screen and (orientation: portrait) {
  #contactform {
    height: initial;
    iframe {
      min-height: 500px;
    }
  }
}
