#contactform {
  height: 100%;
  iframe {
    height: 100%;
    width: 100%;
  }
}
#newborn {
  cite {
    text-align: right;
    display: block;
  }
}

@include breakpoint("<=small") {
  #contactform {
    height: initial;
    iframe {
      min-height: 565px;
    }
  }
  #newborn {
    cite {
      text-align: center;
    }
  }
}
